* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.container img {
  float: left;
}
.lesson-icon img {
  float: none;
}
.top-wrapper {
  padding: 180px 0 300px 0;
  background-image: url();
  background-size: 50%;
  color: rgb(0, 0, 0);
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  font-weight: bold;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}
.message {
  color:#D29D2B;
}
.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #1C658C;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 120px;
  margin-top: 15px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(210,248,255,0.5);
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: black;
}

.heading h2 {
  font-weight: bold;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon{
  position: relative;
}
.lesson-icon img{
  width:80%;
}
.lesson-icon p {
  position: absolute;
  top: 85px;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: black;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #FEE440;
  cursor: pointer;
  box-shadow: 4px 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 26px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
span.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}
.message {
  padding: 15px 40px;
  background-color: #FEE440;
  cursor: pointer;
  box-shadow: 0 7px #D29D2B;
  animation-name: Bergerak;
  animation-duration: 1s;
}

@keyframes Bergerak {
  0%{
    opacity: 0;
    transform: translateY(40px);
  }
  100%{
    opacity: 1;
    transform: translate(0px);
  }
}
.container img {
  animation-name: Bergerak;
  animation-duration: 1s;
}

@keyframes Bergerak {
  0%{
    opacity: 0;
    transform: translateY(40px);
  }
  100%{
    opacity: 1;
    transform: translate(0px);
  }
}
